<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
 <div class ="my-2"><%= @novel.title %></div>
 <div class ="my-2"><%= @novel_body.subtitle %></div>
 <div class ="my-2 ms-5"><%= simple_format @body_text %></div>

  <div class="row">
   <div class="mr-4">
    <% if @current_page > 1 %>
     <%= link_to "前へ", public_novel_body_path(@novel,@novel_body, page: @current_page - 1) %>
    <% end %>
    <span class ="mx-2">|</span>
    <% if @current_page < @max_page %>
     <%= link_to "次へ", public_novel_body_path(@novel,@novel_body, page: @current_page + 1) %>
    <% end %>

    <% request.url %>
   </div>
   <%= render 'public/slice_pages/buttons', novel: @novel %>
  </div>

</div>
