<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <%= render 'public/users/info', user: @user %>
    <%= render 'list', novel: @novel_new %>
    </div>


    <div class="col-md-8 offset-md-1">
  	 <h2>Book detail</h2>
  		<table class="table">
    	  <tbody>
    	    <tr>
           <td>
            <% if @novel_tags.present? %>
             <% @novel_tags.each do |tag| %>
              <%=tag.name%><%="(#{tag.novels.count})" %>
             <% end %>
            <% end %>
            <%= link_to public_user_path(@user.id) do %>
             <%= image_tag @novel.user.get_profile_image(100,100) %><br>
             <%= @user.name %>
            <% end %>
           </td>
           <td>
            <%= link_to public_novel_path(@novel.id), class:"novel_id" do %>
             <%= @novel.title %>
            <% end %>
           </td>

           <% if @user ==current_user %>
            <td>
             <%= link_to "編集", edit_public_novel_path(@novel.id), class:"btn btn-sm btn-success edit_book_id" %>
            </td>
            <td>
             <%= link_to "削除", public_novel_path(@novel.id), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger destroy_book_id"  %>
            </td>
           <% end %>

         <td id="favorite_link">
          <%= render 'public/favorites/favorite' %>
         </td>


        </tr>
       </tbody>
      </table>

      <%= @novel.body %>

      <div>
       <p>コメント件数：<%= @novel.novel_comments.count %></p>
       <% @novel.novel_comments.each do |novel_comment| %>
        <p><%= image_tag novel_comment.user.get_profile_image(100,100) %></p>
        <%= novel_comment.user.name %>
        <%= novel_comment.created_at.strftime('%Y/%m/%d') %><%= novel_comment.comment %>
       <% end %>
      </div>
      <div>
       <%= form_with model: [@novel, @novel_comment], url: public_novel_novel_comments_path(@novel) do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
       <% end %>
      </div>


    </div>
  </div>