<h1><%= @user.name %>さんの会員情報編集</h1>

<%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>

 <p>会員ID</p><%= @user.id %>

  <div class="field">
   <p>ニックネーム
    <%= f.label :"ニックネーム" %>
     <%= f.text_field :name %>
   </p>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <!--<div class="field">-->
  <!--<p>会員ステータス</p>-->
  <!-- <%= f.radio_button :is_deleted, :false %>-->
  <!-- <%= f.label :is_deleted, "有効" , value: :false %>-->
  <!-- <%= f.radio_button :is_deleted, :true %>-->
  <!-- <%= f.label :is_deleted, "退会", value: :true %>-->
  <!--</div>-->

  <div class="actions">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>

<% if @user.is_deleted == false %>
 <%= link_to"利用停止にする", withdrawal_admin_user_path(@user.id) %>
<% end %>