<h1><%= @user.name %>さんの会員詳細</h1>

 <p>会員ID</p><%= @user.id %>
 <p>ニックネーム</p><%= @user.name %>
 <p>メールアドレス</p><%= @user.email %>
 <p>会員ステータス</p>
  <% if @user.is_deleted %>
   <p>利用停止</p>
  <% else %>
   <p>有効</p>
  <% end %>
 <%= link_to "編集する", edit_admin_user_path(@user.id) %>


