<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <%= render 'users/info', user: @user %>
    <%= render 'list', novel: @novel_new %>
    </div>


    <div class="col-md-8 offset-md-1">
  	 <h2>Book detail</h2>
  		<table class="table">
    	  <tbody>
    	    <tr>
           <td>
            <%= link_to user_path(@user.id) do %>
             <%= image_tag @novel.user.get_profile_image(100,100) %><br>
             <%= @user.name %>
            <% end %>
           </td>
           <td>
            <%= link_to novel_path(@novel.id), class:"novel_id" do %>
             <%= @novel.title %>
            <% end %>
           </td>
           <td><%= @novel.body %></td>
           <% if @user ==current_user %>
            <td>
             <%= link_to "Edit", edit_novel_path(@novel.id), class:"btn btn-sm btn-success edit_book_id" %>
            </td>
            <td>
             <%= link_to "Destroy", novel_path(@novel.id), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger destroy_book_id"  %>
            </td>
           <% end %>


           <% if @novel.favorited_by?(current_user) %>
            <td>
             <%= link_to novel_favorites_path(@novel), method: :delete do %>
              ♥<%= @novel.favorites.count %> いいね
             <% end %>
            </td>

           <% else %>
            <td>
             <%= link_to novel_favorites_path(@novel), method: :post do %>
              ♡<%= @novel.favorites.count %> いいね
             <% end %>
            </td>

           <% end %>

        </tr>
       </tbody>
      </table>

      <div>
       <p>コメント件数：<%= @novel.novel_comments.count %></p>
       <% @novel.novel_comments.each do |novel_comment| %>
        <p><%= image_tag novel_comment.user.get_profile_image(100,100) %></p>
        <%= novel_comment.user.name %>
        <%= novel_comment.created_at.strftime('%Y/%m/%d') %><%= novel_comment.comment %>
       <% end %>
      </div>
      <div>
       <%= form_with model: [@novel, @novel_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
       <% end %>
      </div>


    </div>
  </div>